/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin (Except for dialogs) */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations. Accessibility for users who prefer reduced motion */
/* With interpolate-size we can transition between absolute sizes (0px) and derived ones (auto) */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height (Helps with users with dyslexia) */
  line-height: 1.5;
  /* 5. Improve text rendering (Soften text edges) */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
/* Avoid orphaned words on last line (Better readability) */
p {
  text-wrap: pretty;
}

/* Distribute text evenly across multiple lines (Better visual balance) */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
/* The root ID is the main container in React apps and next ID is the main container in Next.js apps */
/* Contain child elements within their container to prevent z-index conflicts */
#root,
#__next {
  isolation: isolate;
}
